
.error { border: 1px solid red; }

.showErrorMsg{
    visibility: visible;
    color:red;
}

.hideErrorMsg{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.hide{
  display: none;
}

.bodyContainer {
    margin: 0 auto;
    width: 100%;
}

.imgLock{
 margin-left: 5px;
 margin-right: 10px;
}

 h1{
    text-align: center;
    color: white;
 }

 h2{
    text-align: center;
    font-weight: bold;
    color: #004a80;
 }

 h3{
    color: #004a80;
 }

 h4{
    color: #004a80;
    font-weight: bold;
 }

 h5{
   font-weight: bold;
    color: #004a80;
 }

 h6{
   color: #f6bc25;
 }

.header{
  background-color: #004a80;
}

.headerBar{
  margin: 1%;
  height: 50px;
}

.headerBar img{
  height: 30px;
}

.searchContainer{
  margin-top: -1%;
  margin-bottom: 2%;
}

.searchContainerAfter{
  margin-bottom: 2%;
  margin-top: 2%;
}


.headerBarLeft{
  float: left;
}

.headerBarRight{
  margin-left: 4%;
  float: right;
}

.centralBar{
  margin: 1%;
}

.centralSearch{
  margin: 2%;
}

.centralSearch div{
  margin-top: 1%;
}

.centralContent{
  margin: 2%;
  margin-bottom: inherit;
}

.iconPersonUser{
    text-align: center;
}


.textResult{
  text-align: center;
  font-size: normal;
}

.userInformation{
  margin: 5%;
  margin-top: inherit !important;
  padding: 2%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
  -webkit-box-shadow: -1px 3px 9px 1px rgba(158,156,158,1);
  -moz-box-shadow: -1px 3px 9px 1px rgba(158,156,158,1);
  box-shadow: -1px 3px 9px 1px rgba(158,156,158,1);
}

.centralFooter{
  margin: 2%;
}

.startText{
    text-align: center;
}

.startText span{
    display: inline-block;
}

.startHere{
  color: #f6bc25;
  font-weight: bold;
}

.textStartHere{
  color: white;
}

.contenedor{
background: #e5e5e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #e5e5e5, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #e5e5e5, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.emailInput{
height: 50px;
}

.btnsearch{
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-weight: bold;
  color: #004a80 !important;
  border-radius: 5px;
  border: none;
  background: #f6be28;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2d751, #f6be28);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2d751, #f6be28); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btnsearch:hover {
  color: #004a80 !important;
  background: #f6be28 !important;
}

.btnsearch:focus,.btnsearch:active {
   outline: none !important;
   box-shadow: none !important;
}

.btnsearch:active {
  color: #004a80 !important;
  background: #f2d751 !important;
}

.columnas{
    display: flex !important;
}


.circleBase{
  margin: 10%;
}

.circleBase span {
  font-size:32px;
  color: #f6bc25;
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
  padding-left: 100%;
  padding-right: 100%;
  font-weight: bold;
  border-radius: 50%;
  background-color: #004a80;
}

/*
.circleBase span{
  width: 80px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background-color: #004a80;
  display: inline-block;
vertical-align: middle;
line-height: normal;
}*/



.footer{
  color: #999999;
  background-color: #ffffff;
}

.TyP, .TyP a{
  font-weight: bold;
  color: #004a80 !important;
  text-align: center;
}
